.bookCover{
    background-color: rgb(145, 153, 145);
    height:10rem ;
    position: relative;
    width: 100%;

}
.card{
    position: relative;
}
.bookOptions{
    text-align: center;
    position: absolute;
    right: 0rem;
    top: 9rem;
    background-color: green;
    border-radius: 50%;
    z-index: 5;

}
